@charset "UTF-8";
/*Abstracts Start*/
/*Placholders Start*/
.card, button {
  transition: all 0.4s ease-out; }

/*Placholders End*/
/*Abstracts End*/
/*Base Start*/
/*Normalize Start*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/*Normalize End*/
/*Typohraphy START*/
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-regular.woff2");
  src: local("Arial"), url("../assets/fonts/arial/arial-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-bold.woff2");
  src: local("Arial"), url("../assets/fonts/arial/arial-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-bold-italic.woff2");
  src: local("Arial"), url("../assets/fonts/arial/arial-bold-italic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial/arial-italic.woff2");
  src: local(""), url("../assets/fonts/arial/arial-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-regular.woff2");
  src: local("Georgia"), url("../assets/fonts/georgia/georgia-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-bold.woff2");
  src: local("Georgia"), url("../assets/fonts/georgia/georgia-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-italic.woff2");
  src: local("Georgia"), url("../assets/fonts/georgia/georgia-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia/georgia-bold-italic.woff2");
  src: local("Georgia"), url("../assets/fonts/georgia/georgia-bold-italic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic; }
/*Typohraphy END*/
/*Base START*/
html {
  scroll-behavior: smooth;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 10px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: normal;
  animation: fadeIn 3s;
  display: flex;
  flex-direction: column;
  background-color: radial-gradient(#5a473a, #222021);
  margin: 0 auto;
  color: #fafafa;
  overflow-x: hidden; }
  body.visible {
    overflow: hidden; }

h3 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: normal;
  text-align: center;
  color: #545454;
  letter-spacing: 0.06em; }

h4 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: normal;
  text-align: center;
  color: #545454;
  letter-spacing: 0.06em; }

h5 {
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: normal;
  text-align: start;
  color: #545454;
  letter-spacing: 0.06em; }

/*Base End*/
/*Images Start*/
.help__icon {
  background-repeat: no-repeat;
  width: 60px;
  height: 60px; }
  @media (max-width: 767px) {
    .help__icon {
      width: 50px;
      height: 50px; } }
  .help__icon.pet-food {
    background-image: url("../assets/icons/help_section/pet-food.svg"); }
    @media (max-width: 767px) {
      .help__icon.pet-food {
        background-image: url("../assets/icons/help_section/screen-320/pet-food-320.svg"); } }
  .help__icon.transportation {
    background-image: url("../assets/icons/help_section/transportation.svg"); }
    @media (max-width: 767px) {
      .help__icon.transportation {
        background-image: url("../assets/icons/help_section/screen-320/transportation-320.svg"); } }
  .help__icon.toys {
    background-image: url("../assets/icons/help_section/toys.svg"); }
    @media (max-width: 767px) {
      .help__icon.toys {
        background-image: url("../assets/icons/help_section/screen-320/toys-320.svg"); } }
  .help__icon.bowls-and-cups {
    background-image: url("../assets/icons/help_section/bowls-and-cups.svg"); }
    @media (max-width: 767px) {
      .help__icon.bowls-and-cups {
        background-image: url("../assets/icons/help_section/screen-320/bowls-and-cups-320.svg"); } }
  .help__icon.shampoos {
    background-image: url("../assets/icons/help_section/shampoos.svg"); }
    @media (max-width: 767px) {
      .help__icon.shampoos {
        background-image: url("../assets/icons/help_section/screen-320/shampoos-320.svg"); } }
  .help__icon.vitamins {
    background-image: url("../assets/icons/help_section/vitamins.svg"); }
    @media (max-width: 767px) {
      .help__icon.vitamins {
        background-image: url("../assets/icons/help_section/screen-320/vitamins-320.svg"); } }
  .help__icon.medicines {
    background-image: url("../assets/icons/help_section/medicines.svg"); }
    @media (max-width: 767px) {
      .help__icon.medicines {
        background-image: url("../assets/icons/help_section/screen-320/medicines-320.svg"); } }
  .help__icon.collars-leashes {
    background-image: url("../assets/icons/help_section/collars-leashes.svg"); }
    @media (max-width: 767px) {
      .help__icon.collars-leashes {
        background-image: url("../assets/icons/help_section/screen-320/collars-leashes-320.svg"); } }
  .help__icon.sleeping-areas {
    background-image: url("../assets/icons/help_section/sleeping-area.svg"); }
    @media (max-width: 767px) {
      .help__icon.sleeping-areas {
        background-image: url("../assets/icons/help_section/screen-320/sleeping-area-320.svg"); } }

/*Images End*/
/*Base End*/
/*Layout Start*/
/*Navigation START*/
@media (max-width: 767px) {
  .header__nav {
    display: none; } }

.header__list--flex-row-none {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 1290px) {
    .header__list--flex-row-none {
      padding-left: 0;
      justify-content: space-between; } }

.header__item {
  margin-left: 35px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: 0.007em; }
  .header__item .header__link {
    text-decoration: none;
    color: #cccccc;
    margin: 0;
    padding: 0;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: normal;
    width: 0;
    position: relative; }
    .header__item .header__link:hover {
      color: #fafafa; }
    .header__item .header__link::after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 3px;
      background-color: #f1ccb1;
      /*задаём цвет линии*/
      content: "";
      transition: width 0.4s ease-out; }
    .header__item .header__link:hover::after, .header__item .header__link:focus::after {
      width: 100%; }
  .header__item.header__item--active {
    border-bottom: 3px solid #f1ccb1; }
    .header__item.header__item--active .header__link {
      color: #fafafa; }
      .header__item.header__item--active .header__link:hover, .header__item.header__item--active .header__link:focus, .header__item.header__item--active .header__link:hover::after, .header__item.header__item--active .header__link:focus::after {
        width: 0; }
  @media (max-width: 767px) {
    .header__item {
      margin-left: 25px; } }

/*Navigation END*/
/*Header START*/
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }
  @media (max-width: 1290px) {
    .header .header__list {
      margin: 0; } }

.header .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px; }
  @media (max-width: 1240px) {
    .header .wrapper {
      padding: 30px 30px 0;
      max-width: 1000px; } }
  @media (max-width: 1290px) {
    .header .wrapper {
      padding: 31px 26px 0 27px;
      max-width: 708px; } }
  @media (max-width: 400px) {
    .header .wrapper {
      padding: 30px 52px 0 11px;
      max-width: 300px; } }

.header__wrapper--flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.header__logo .header__link {
  width: 186px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 7px;
  text-decoration: none; }
  .header__logo .header__link .header__title {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 3.2rem;
    line-height: 3.5rem;
    font-weight: normal;
    color: #f1ccb1;
    letter-spacing: 0.06em; }
  .header__logo .header__link .header__subtitle {
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: normal;
    font-family: "Arial", Helvetica, sans-serif;
    width: 100%;
    color: white;
    letter-spacing: 0.06em; }
  .header__logo .header__link:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.blackout {
  visibility: hidden; }
  .blackout.visible {
    visibility: visible;
    z-index: 2;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(41, 41, 41, 0.6); }

/*Header END*/
/*Main Start*/
/*Section Start-Screen Start*/
.start-screen {
  width: 100%;
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%); }
  .start-screen .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 180px 40px 0; }
    @media (max-width: 1240px) {
      .start-screen .wrapper {
        max-width: 708px;
        padding: 152px 10% 0 9.9%; } }
    @media (max-width: 730px) {
      .start-screen .wrapper {
        padding: 150px 2.0% 0 2.0%; } }
    @media (max-width: 767px) {
      .start-screen .wrapper {
        padding: 150px 10px 0; } }
  .start-screen .content {
    padding-top: 164px;
    max-width: 460px;
    text-align: start; }
    @media (max-width: 1240px) {
      .start-screen .content {
        padding: 0 54px 100px 55px; } }
    @media (max-width: 720px) {
      .start-screen .content {
        text-align: center; } }
    @media (max-width: 767px) {
      .start-screen .content {
        padding: 0; } }

.start-screen__content-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (max-width: 1290px) {
    .start-screen__content-flex {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  @media (max-width: 767px) {
    .start-screen__content-flex {
      row-gap: 105px; } }

.start-screen__heading {
  margin: 0;
  padding: 0 0 26px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 4.4rem;
  line-height: 5.7rem;
  font-weight: normal;
  color: whitesmoke;
  max-width: 310px; }
  @media (max-width: 1290px) {
    .start-screen__heading {
      padding: 0 0 42px; } }
  @media (max-width: 720px) {
    .start-screen__heading {
      margin: 0 auto; } }
  @media (max-width: 600px) {
    .start-screen__heading {
      margin: 0;
      padding: 0 0 42px;
      font-family: "Georgia", "Times New Roman", Times, serif;
      font-size: 2.5rem;
      line-height: 3.2rem;
      font-weight: normal;
      max-width: 236px;
      letter-spacing: 0.06em;
      margin: 0 auto; } }

.start-screen__subheading {
  color: #cccccc;
  padding-bottom: 27px;
  width: 100%; }
  @media (max-width: 1290px) {
    .start-screen__subheading {
      margin: 0;
      padding: 0 0 42px;
      font-family: "Georgia", "Times New Roman", Times, serif;
      font-size: 1.5rem;
      line-height: 2.4rem;
      font-weight: normal;
      font-family: "Arial", Helvetica, sans-serif;
      margin: 0;
      letter-spacing: 0.001em; } }

.start-screen__puppy {
  background-image: url("../assets/images/start-screen-puppy.png");
  background-repeat: no-repeat;
  width: 698px;
  height: 728px; }
  @media (max-width: 870px) {
    .start-screen__puppy {
      position: relative;
      right: -70px;
      bottom: 0;
      background-image: url("../assets/images/screen-768/start-screen-puppy-768.png");
      background-repeat: no-repeat;
      width: 569px;
      height: 593px; } }
  @media (max-width: 720px) {
    .start-screen__puppy {
      position: relative;
      bottom: 0;
      right: -20px;
      background-image: url("../assets/images/screen-320/start-screen-puppy-320.png");
      background-repeat: no-repeat;
      width: 260px;
      height: 271.77px; } }

@media (max-width: 1240px) {
  .start-screen__button {
    margin-left: 27.4%; } }
@media (max-width: 720px) {
  .start-screen__button {
    margin: 0 auto; } }

/*Section Start-Screen End*/
/*Section About Start*/
.about .wrapper {
  padding: 80px 40px 95px; }
  @media (max-width: 1290px) {
    .about .wrapper {
      padding: 80px 166px 100px 165px; } }
  @media (max-width: 767px) {
    .about .wrapper {
      padding: 42px 10px; } }

.about__content--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 120px; }
  @media (max-width: 930px) {
    .about__content--flex {
      flex-direction: column-reverse;
      row-gap: 80px; } }
  @media (max-width: 767px) {
    .about__content--flex {
      row-gap: 19px; } }

.about__photo {
  background-image: url("../assets/images/about-pets.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 408px; }
  @media (max-width: 640px) {
    .about__photo {
      background-image: url("../assets/images/screen-320/about-pets-320.png");
      background-repeat: no-repeat;
      width: 260px;
      height: 353.6px; } }

.content__about {
  max-width: 430px; }
  @media (max-width: 767px) {
    .content__about {
      max-width: 300px;
      justify-content: center; } }

.about__heading {
  text-align: start; }
  @media (max-width: 767px) {
    .about__heading {
      margin: 0;
      padding: 0 0 25px;
      font-family: "Georgia", "Times New Roman", Times, serif;
      font-size: 2.5rem;
      line-height: 3.2rem;
      font-weight: normal;
      text-align: center; } }

.about__subheading {
  margin: 0;
  width: 100%;
  height: auto;
  padding-top: 25px;
  color: #4d4d4d; }
  @media (max-width: 767px) {
    .about__subheading {
      margin: 0;
      padding: 0 15px 22px;
      font-family: "Georgia", "Times New Roman", Times, serif;
      font-size: 1.5rem;
      line-height: 2.4rem;
      font-weight: normal;
      font-family: "Arial", Helvetica, sans-serif;
      width: auto;
      text-align: justify; } }

/*Section About End*/
/*Section Pets Start*/
.pets {
  background-color: whitesmoke; }

.pets .wrapper {
  max-width: 1200px;
  padding: 85px 40px 100px; }
  @media (max-width: 865px) {
    .pets .wrapper {
      padding: 80px 30px 100px; } }
  @media (max-width: 767px) {
    .pets .wrapper {
      padding: 43px 10px; } }

.pets__content--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 59px; }
  @media (max-width: 767px) {
    .pets__content--flex {
      gap: 42px; } }

@media (max-width: 767px) {
  .pets__heading {
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: normal; } }

.pets__slider--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 53px; }
  @media (max-width: 950px) {
    .pets__slider--flex {
      gap: 12px; } }
  @media (max-width: 760px) {
    .pets__slider--flex {
      gap: 80px; } }
  @media (max-width: 640px) {
    .pets__slider--flex {
      gap: 40px; } }
  @media (max-width: 540px) {
    .pets__slider--flex {
      gap: 12px; } }
  @media (max-width: 420px) {
    .pets__slider--flex {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px 80px; } }

.pets__button {
  width: 261px; }

/*Section Pets End*/
/*Section Help Start*/
.help .wrapper {
  padding: 80px 40px 100px; }
  @media (max-width: 1279px) {
    .help .wrapper {
      padding: 80px 69px 100px; } }
  @media (max-width: 767px) {
    .help .wrapper {
      padding: 40px 15px 43px; } }

.help__heading {
  margin: 0 auto;
  width: 310px; }
  @media (max-width: 767px) {
    .help__heading {
      width: auto;
      margin: 0;
      padding: 0;
      font-family: "Georgia", "Times New Roman", Times, serif;
      font-size: 2.5rem;
      line-height: 3.2rem;
      font-weight: normal; } }

.help__list--flex {
  padding: 60px 87px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 119px;
  row-gap: 55px; }
  @media (max-width: 1279px) {
    .help__list--flex {
      gap: 55px 80px; } }
  @media (max-width: 1180px) {
    .help__list--flex {
      gap: 55px 60px; } }
  @media (max-width: 951px) {
    .help__list--flex {
      padding: 60px 0 0 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 55px 60px;
      justify-items: stretch;
      align-items: stretch; } }
  @media (max-width: 767px) {
    .help__list--flex {
      padding: 42px 0 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-gap: 30px 30px;
      justify-items: stretch;
      align-items: stretch; } }

.help__item--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px; }
  @media (max-width: 767px) {
    .help__item--flex {
      gap: 20px;
      justify-content: space-between; } }

@media (max-width: 767px) {
  .help__text {
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: normal; } }

/*Section Help End*/
/*Section Donation Start*/
.donation {
  background-color: whitesmoke; }

.donation .wrapper {
  padding: 72px 180px 100px; }
  @media (max-width: 1279px) {
    .donation .wrapper {
      padding: 74px 10px 100px; } }
  @media (max-width: 767px) {
    .donation .wrapper {
      padding: 35px 10px 43px; } }

.donation__content--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 30px; }
  @media (max-width: 930px) {
    .donation__content--flex {
      flex-direction: column-reverse;
      gap: 60px; } }
  @media (max-width: 767px) {
    .donation__content--flex {
      gap: 40px; } }

.donation__photo {
  padding: 0;
  margin-top: 10px;
  width: 505px;
  height: 261px;
  background-image: url("../assets/images/donation-dog.png");
  background-repeat: no-repeat; }
  @media (max-width: 1290px) {
    .donation__photo {
      margin: 0; } }
  @media (max-width: 767px) {
    .donation__photo {
      background-image: url("../assets/images/screen-320/donation-dog-320.png");
      background-repeat: no-repeat;
      width: 260px;
      height: 135.2px; } }

.content__donation {
  width: 380px; }
  @media (max-width: 767px) {
    .content__donation {
      width: auto; } }

.content__donation--flex {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 20px; }
  @media (max-width: 1290px) {
    .content__donation--flex {
      margin-top: 6px; } }

.donation__heading {
  text-align: start; }
  @media (max-width: 767px) {
    .donation__heading {
      margin: 0;
      padding: 0;
      font-family: "Georgia", "Times New Roman", Times, serif;
      font-size: 2.5rem;
      line-height: 3.2rem;
      font-weight: normal;
      text-align: center;
      margin: 0 auto; } }

@media (max-width: 767px) {
  .donation__subheading {
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: normal;
    letter-spacing: 0.00001em;
    margin: 0 auto; } }

.creadit-card__wrapper {
  width: 320px;
  padding: 6px 15px;
  background-color: #f1ccb1;
  border-radius: 9px;
  cursor: pointer; }
  .creadit-card__wrapper:hover {
    background-color: #fddcc4; }
  @media (max-width: 767px) {
    .creadit-card__wrapper {
      width: auto;
      padding: 7px 15px;
      margin: 0 10px; } }
  .creadit-card__wrapper .credit-card__img {
    margin-right: 10px; }
    .creadit-card__wrapper .credit-card__img:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  .creadit-card__wrapper .credit-card__number {
    display: inline;
    vertical-align: text-bottom; }
    .creadit-card__wrapper .credit-card__number:hover {
      color: #292929; }
    @media (max-width: 767px) {
      .creadit-card__wrapper .credit-card__number {
        margin: 0;
        padding: 0;
        font-family: "Georgia", "Times New Roman", Times, serif;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: normal;
        letter-spacing: 0.05em; } }

.donation__legal-information {
  margin: 20px 0 0 0;
  padding: 0;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: italic;
  font-style: oblique;
  margin: 20px 0 0 0;
  text-align: start;
  color: #b3b3b3; }
  @media (max-width: 767px) {
    .donation__legal-information {
      width: 280px;
      text-align: justify;
      margin: 20px auto 0; } }

.donation__link {
  text-decoration: none; }

/*Section Donation End*/
/*Main End*/
/*Footer Start*/
.footer {
  width: 100%;
  background: url("../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%); }
  .footer .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 40px 0; }
    @media (max-width: 1290px) {
      .footer .wrapper {
        padding: 30px 28px 0 32px; } }
    @media (max-width: 767px) {
      .footer .wrapper {
        padding: 30px 10px 0; } }

.footer__content.footer__content--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 158px; }
  @media (max-width: 1279px) {
    .footer__content.footer__content--flex {
      column-gap: 7%; } }
  @media (max-width: 1120px) {
    .footer__content.footer__content--flex {
      gap: 65px 55px;
      flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .footer__content.footer__content--flex {
      gap: 40px; } }
.footer__content .footer__contacts--flex {
  width: 280px;
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 40px; }
  @media (max-width: 1290px) {
    .footer__content .footer__contacts--flex {
      margin: 0; } }
.footer__content .footer__locations {
  width: 306px;
  padding-left: 3px; }
  .footer__content .footer__locations.footer__locations--flex {
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 33px; }
    @media (max-width: 1290px) {
      .footer__content .footer__locations.footer__locations--flex {
        margin: 0; } }
    @media (max-width: 767px) {
      .footer__content .footer__locations.footer__locations--flex {
        gap: 40px;
        padding: 0; } }

.footer__title {
  font-weight: normal;
  letter-spacing: 0.06em;
  text-align: start;
  color: white; }
  @media (max-width: 767px) {
    .footer__title {
      margin: 0;
      padding: 0;
      font-family: "Georgia", "Times New Roman", Times, serif;
      font-size: 2.5rem;
      line-height: 3.2rem;
      font-weight: normal;
      margin: 0 auto;
      text-align: center;
      width: 270px; } }

.footer__city--flex,
.footer__mail--flex,
.footer__phone--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 9px; }

.footer__address,
.footer__link,
.footer__subtitle {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  letter-spacing: 0.06em;
  color: #f1ccb1;
  text-decoration: none; }
  @media (max-width: 767px) {
    .footer__address,
    .footer__link,
    .footer__subtitle {
      margin: 0;
      padding: 0;
      font-family: "Georgia", "Times New Roman", Times, serif;
      font-size: 2rem;
      line-height: 2.3rem;
      font-weight: normal;
      margin: 0 auto;
      text-align: unset; } }

.footer__address,
.footer__subtitle {
  margin-left: 11px; }

.footer__subtitle:hover,
.footer__address:hover {
  color: #fddcc4; }

.footer__city .footer__icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }
@media (max-width: 767px) {
  .footer__city .footer__icon {
    margin-left: 1px; } }

.footer__photo {
  width: 300px;
  height: 310px;
  background-image: url("../assets/images/footer-puppy.png");
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .footer__photo {
      background-image: url("../assets/images/screen-320/footer-puppy-320.png");
      background-repeat: no-repeat;
      width: 260px;
      height: 269px; } }

.footer__address--margin-zero {
  margin-left: -3px; }
  @media (max-width: 767px) {
    .footer__address--margin-zero {
      margin-left: 12px; } }

@media (max-width: 767px) {
  .footer__adress--margin {
    margin-left: -12px; } }

@media (max-width: 767px) {
  .footer__address {
    width: 265px; } }

/*Footer End*/
.header__mobile {
  display: none; }
  @media (max-width: 767px) {
    .header__mobile {
      padding: 30px 22px 0 10px;
      display: block;
      position: fixed;
      z-index: 988;
      right: 0;
      top: 0;
      left: auto;
      background-color: #292929;
      height: 100vh;
      animation: closeMenuTransform 0.5s;
      -webkit-transform: translatex(320px);
      -ms-transform: translatex(320px);
      transform: translatex(320px); }
      .header__mobile.open {
        animation: openMenuTransform 2s;
        -webkit-transform: translatex(0px);
        -ms-transform: translatex(0px);
        transform: translatex(0px); } }

.mobile__link {
  position: relative;
  text-decoration: none;
  color: #cccccc; }
  .mobile__link::after {
    display: block;
    position: absolute;
    right: 0;
    width: 0;
    height: 3px;
    background-color: #f1ccb1;
    content: "";
    transition: width 0.4s ease-out; }
  .mobile__link:hover, .mobile__link:focus, .mobile__link:hover::after, .mobile__link:focus::after {
    color: #fafafa;
    width: 100%; }

.mobile__title {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: normal;
  color: #f1ccb1;
  letter-spacing: 0.06em;
  margin-bottom: 8px; }

.mobile__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-family: "Arial", Helvetica, sans-serif;
  width: 100%;
  color: white;
  letter-spacing: 0.06em;
  text-align: start;
  margin-left: 4px;
}

.mobile__nav {
  width: 100%;
  padding: 160px 32px 0 13px; }

.mobile__list {
  list-style: none; }

.mobile__list--flex-row-none {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .mobile__list--flex-row-none {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 41px;
      justify-content: center;
      padding: 0;
      margin: 0; } }

.mobile__item {
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 3.2rem;
  line-height: 5.1rem;
  font-weight: normal; }

.mobile__item--active .mobile__link {
  color: #fafafa; }
  .mobile__item--active .mobile__link::after {
    width: 100%; }
  .mobile__item--active .mobile__link:hover, .mobile__item--active .mobile__link:focus, .mobile__item--active .mobile__link:hover::after, .mobile__item--active .mobile__link:focus::after {
    width: 100%; }

/*Layout End*/
/*Components Start*/
/*Slider Start*/
.slider__wrapper {
  width: 990px;
  overflow: hidden; }
  @media (max-width: 1290px) {
    .slider__wrapper {
      width: 580px; } }
  @media (max-width: 767px) {
    .slider__wrapper {
      width: 270px; } }

.slider__bar {
  position: relative;
  left: 0; }
  @media (max-width: 1290px) {
    .slider__bar {
      left: 0; } }

.slider__bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; }

.slider__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  column-gap: 90px; }
  @media (max-width: 1290px) {
    .slider__item {
      column-gap: 40px; } }
  @media (max-width: 767px) {
    .slider__item {
      column-gap: 0; } }

/*Slider End*/
/*Cards Start*/
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background-color: #fafafa;
  cursor: pointer; }
  .card:hover {
    box-shadow: 0px 1px 15px 1px #cccccc;
    background-color: white; }
    .card:hover .card__button {
      background-color: #fddcc4;
      border-color: #fddcc4; }
  .card .card__img {
    width: 270px;
    height: 270px; }
  .card .card__name {
    text-align: center;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 2rem;
    letter-spacing: 0.06em;
    color: #545454; }
  .card .card__button {
    margin: 0 auto 30px; }

/*Cards End*/
/*Buttons Start*/
button {
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: normal;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  border: 2px solid #f1ccb1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
  button:hover {
    background-color: #fddcc4;
    border-color: #fddcc4;
    cursor: pointer; }

.button--primary {
  background-color: #f1ccb1; }

.button--secondary {
  width: 187px;
  background-color: whitesmoke;
  border: 2px solid #f1ccb1; }

.button__arrow--left {
  width: 52px;
  height: 52px;
  background-image: url("../assets/icons/left_arrow.png");
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 420px) {
    .button__arrow--left {
      order: 1; } }

.button__arrow--right {
  background-color: whitesmoke;
  width: 52px;
  height: 52px;
  background-image: url("../assets/icons/right_arrow.png");
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 420px) {
    .button__arrow--right {
      order: 2; } }

/*Buttons End*/
/* Animation Start */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes burgerRotateOpen {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  to {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); } }
@keyframes burgerRotateClose {
  from {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  50% {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); }
  to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes openMenuTransform {
  from {
    -webkit-transform: translateX(320px);
    -ms-transform: translateX(320px);
    transform: translateX(320px); }
  50% {
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    transform: translateX(-15px); }
  to {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes closeMenuTransform {
  from {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }
  to {
    -webkit-transform: translateX(320px);
    -ms-transform: translateX(320px);
    transform: translateX(320px); } }
@keyframes move-right {
  from {
    left: 0px; }
  to {
    left: -990px; } }
@keyframes move-right-tablet {
  from {
    left: 0px; }
  to {
    left: -580px; } }
@keyframes move-right-mobile {
  from {
    left: 0px; }
  to {
    left: -270px; } }
.transition-right {
  animation-name: move-right;
  animation-duration: 1s; }
  @media (max-width: 1290px) {
    .transition-right {
      animation-name: move-right-tablet; } }
  @media (max-width: 767px) {
    .transition-right {
      animation-name: move-right-mobile; } }

@keyframes move-left {
  from {
    left: 0px; }
  to {
    left: 990px; } }
@keyframes move-left-tablet {
  from {
    left: 0px; }
  to {
    left: 580px; } }
@keyframes move-left-mobile {
  from {
    left: 0px; }
  to {
    left: 270px; } }
.transition-left {
  animation-name: move-left;
  animation-duration: 1s; }
  @media (max-width: 1290px) {
    .transition-left {
      animation-name: move-left-tablet; } }
  @media (max-width: 767px) {
    .transition-left {
      animation-name: move-left-mobile; } }

/* Animation End */
/*Burger Start*/
.burger {
  display: none;
  width: 30px;
  height: 24px;
  position: relative;
  z-index: 999;
  cursor: pointer; }
  @media (max-width: 767px) {
    .burger {
      display: block; } }
  .burger .burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #f1ccb1;
    content: ''; }
    .burger .burger__line:first-child {
      top: auto;
      bottom: 0; }
    .burger .burger__line:last-child {
      top: 2px; }
  .burger:hover .burger__line {
    background-color: #fddcc4;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .burger.burger--open {
    animation: burgerRotateOpen 1s;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .burger.burger--close {
    animation: burgerRotateClose 1s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

/*Burger End*/
.pop-up {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 990;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateZ(100%);
  transition: all 1s ease;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .pop-up.visible {
    transform: translateZ(0);
    visibility: visible;
    opacity: 1;
    cursor: pointer; }

.pop-up__window {
  position: relative;
  border-radius: 35px; }

.pop-up__card {
  background-color: white;
  border-radius: 9px; }

.pop-up__card--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.pop-up__content {
  color: black; }
  .pop-up__content .wrapper {
    padding: 50px 20px 88px 29px; }
    @media (max-width: 1290px) {
      .pop-up__content .wrapper {
        padding: 10px 9px 37px 11px; } }
    @media (max-width: 767px) {
      .pop-up__content .wrapper {
        padding: 10px; } }

.pop-up__text--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: center; }

.pop-up__list--flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: center; }

.pop-up__close {
  position: absolute;
  display: block;
  right: -57px;
  top: -57px;
  border: 2px solid #f1ccb1;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-image: url("../assets/icons/close.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: 0.5s ease-in-out; }
  .pop-up__close:hover {
    background-color: transparent; }
  .pop-up__close.hover {
    transition: 0.5s ease-in-out;
    background-color: #f1ccb1; }

.pop-up__photo {
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
  border-radius: 9px 0 0 9px; }
  @media (max-width: 1290px) {
    .pop-up__photo {
      width: 350px;
      height: 350px; } }
  @media (max-width: 767px) {
    .pop-up__photo {
      display: none; } }

.pop-up__name {
  color: black;
  margin-bottom: 10px; }

.pop-up__breed {
  color: black;
  margin-bottom: 40px; }
  @media (max-width: 1290px) {
    .pop-up__breed {
      margin-bottom: 20px; } }

.pop-up__description {
  width: 350px;
  color: black;
  margin-bottom: 40px; }
  @media (max-width: 1290px) {
    .pop-up__description {
      width: 260px;
      margin-bottom: 20px; } }

.pop-up__list {
  padding: 0;
  margin: 0 0 0 29px; }
  @media (max-width: 1290px) {
    .pop-up__list {
      margin-bottom: 11px;
      width: 260px; } }
  .pop-up__list li {
    color: #f1ccb1; }
    .pop-up__list li span {
      color: black; }

.pop-up__item {
  color: black; }

/*Components End*/

/*# sourceMappingURL=style.css.map */
