/*Section About Start*/

.about .wrapper {
    padding: 80px 40px 95px;
    @include media-tablet{
        padding: 80px 166px 100px 165px;
    }
    @include media-mobile{
        padding: 42px 10px;
    }
}

.about__content--flex {
    @include flex;
    column-gap: 120px;
    @include media-tablet(930px){
        flex-direction: column-reverse;
        row-gap: 80px;
    }

    @include media-mobile{
        row-gap: 19px;
    }

}

.about__photo {
    background-image: url("../assets/images/about-pets.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 408px;
    @include media-mobile(640px) {
        background-image: url("../assets/images/screen-320/about-pets-320.png");
        background-repeat: no-repeat;
        width: 260px;
        height: 353.6px;
    }
}
.content__about {
    max-width: 430px;
    @include media-mobile {
        max-width: 300px;
        justify-content: center;
    }
}

.about__heading {
    text-align: start;
    @include media-mobile{
        @include font(25,32, $padding:0 0 25px);
        text-align: center;
    }
}
.about__subheading {
    margin: 0;
    width: 100%;
    height: auto;
    padding-top: 25px;
    color: $color-dark-xl;
    @include media-mobile {
        @include font(15,24, $padding: 0 15px 22px);
        font-family: $Arial;
        width: auto;
        text-align:justify;

    }
}

/*Section About End*/
